.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}
.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 50px solid green;
    margin-left: 4px;
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent; 
    border-right: 50px solid red; 
}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;

    border-bottom: 50px solid rgb(27, 102, 27);
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;

    border-top: 50px solid red;
}
.inline div { 
    margin-left: 0px;
    display: inline-block; 
} 
.orderCount{
    height: 50px;
    width:  50px;
    margin: 10px;
}
.shownWithChildrenEnabled {
    visibility: hidden;
}